/* the rest of the css is the blueprint css, this is just a site specific one */ 
body {
    background: whitesmoke;
}

.container {
    background: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;        
}

#header {
    background: url("/static/webui/images/header-bg.png") repeat-x;
    height: 122px;
}

#logo {
    padding-top: 25px;
}

#unicef {
    background: url("/static/webui/images/unicef.png") no-repeat 100% 35px;
    padding-top: 90px;
    margin-bottom: 0px;
}

h1 { 
    font-size: 2em; 
}

h2 {
    font-size: 1.5;
    border-bottom: 2px solid black;
    margin-top: 1em;
    margin-bottom: 0em;
}

.help {
    color: grey;
}

#search {
    float: right;
    padding-right: 1em;
}

#tabs {
    padding-top: 4px;
    float: right;
    margin-bottom: 0.5em;
}

#tabs li {
    display: block;
    float: left;
    line-height: 28px;
    margin-right: 5px;
}

#tabs li a, #breadcrumbs a {
    text-decoration: none;
}

#breadcrumbs {
    font-size: 150%;
    color: grey;
    border-bottom: 1px solid grey;
    height: 2em;
}

.labelify {
    color: grey;
}

#footer {
    margin-top: 3em;
    text-align: right;
    color: grey;
}

#footer a {
    color: grey;
}

#tabs li a {
    color: #fff;
    display: block;
    padding: 0 1em;
    background: #2fa5d1 url("/static/webui/images/tab-bg.png") repeat-x;
    border-right: 1px solid #11bad0;
    border-left: 1px solid #11bad0;
}
		
#tabs li.active a,
#tabs li.active a:hover {
    background: #55cfde url("/static/webui/images/tab-bg-active.png") repeat-x;
    border: 1px solid #cef1f5;
    border-bottom: 0;

    /* nudge the active tab
     * north by one pixel */
    margin-top: -1px;

    /* don't underline links, even when hovering,
     * so we don't highlight the fact that this
     * is a link (it's already active)  */
    text-decoration: none;
}

/* brighten up inactive tabs when hovering */
#tabs li a:hover {
    background-image: url("/static/webui/images/tab-bg-hover.png"); 
}

.pagination {
    font-weight: bold;
}

.pagination span {
    padding: 0.4em;
}

fieldset div {
    padding-top: 0.4em;
}

.field-error {
    font-weight: bold;
    color: #8a1f11;
}

.hidden {
    display: none;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid black;
}